<div class="row h-100 justify-content-center">
  <div class="col-10 col-sm-6">
    <div>
      <div class="d-flex justify-content-between align-items-center mg-b-45">
        <h5 class="text-primary font-weight-bold " id="signupStepHeader">Create an account</h5>
        <ul class="list-unstyled step-indicator">
          <li class="active" data-step="0"></li>
          <li data-step="1"></li>
        </ul>
      </div>
      <div id="signupCurrentForm">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
          <div class="field form-group">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Name", required: true%>
          </div>
          <div class="field form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address", required: true%>
          </div>
          <div class="field form-group">
            <%= f.password_field :password, autocomplete: "password", class: "form-control", placeholder: "Password", required: true%>
          </div>
          <div class="field form-group">
            <%= f.password_field :password_confirmation, autocomplete: "password", class: "form-control", placeholder: "Confirm password", required: true%>
          </div>
          <div id="signup-error-messages" class="text-center text-danger d-none white-space-pre-wrap"></div>
          <div class="actions mg-t-60 mg-xxl-t-90">
            <center>
              <%= f.submit "Sign up", class: "btn btn-primary btn-round font-weight-bold" %>
            </center>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>