<!DOCTYPE html>
<html>
  <head>
    <title>Notes App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application'%>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- SweetAlert 2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.8.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.8.2/dist/sweetalert2.all.min.js"></script>
    <link rel="icon" href="<%= image_path 'icon.ico' %>" type="image/ico" />
    <link rel="shortcut icon" href="<%= image_path 'icon.ico' %>" type="image/ico" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg border-0 py-3 px-5 navbar-light bg-light">
      <a class="navbar-brand text-uppercase font-weight-bold" href="/">Notes</a>
      <button id="navbar-toggler" class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav mr-5">
          <% if current_user %>
            <li class="nav-item dropdown my-1 my-sm-0 ">
              <a href="#" id="navbarDropdown" class="dropdown-toggle nav-link d-flex align-items-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <div><%= current_user.email %></div>
                <i class="icon icon-Dropdown ml-2 position-relative"></i>
              </a>
              <div class="dropdown-menu my-1 my-sm-0 " aria-labelledby="navbarDropdown">
                <%=link_to "Log Out", destroy_user_session_path, method: :delete , class: "pd-l-10 text-dark", style: "font-size: 16px;" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item my-1 my-sm-0 text-uppercase"> <%=link_to "Login", new_user_session_path, method: :get , class: "pd-l-10 text-dark" %></li>
          <%end%>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <div id="page-content">
      <%= render 'layouts/partials/alert' %>
      <%= yield %>
    </div>
  </body>
</html>